body {
  background:#111;
  color: green;
  margin: 0px;
  font-family: "10px Lucida Console", Monaco, monospace;
}

#left {
  width: 20%;
}

#right {
  width: 20%;
}

.row {
  float: left;
}

#container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 800px;
  height: 600px
}

#canvas {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#t-disp {
  position:absolute;
  top: 5%;
  width: 100%;
  z-index: 1;
}

#message {
  position:absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
}

#v-disp {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: block;
  z-index: 1;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}