body {
  background: #111;
  color: #070;
  font-family: monospace;
  font-size: 14pt; 
  margin: 0;
  padding: 0;
}

#container {
  margin: 0px auto;
  width: 800px;
}

.content {
  display: block;
  margin: 0;
  margin-bottom: 15px;
}

#footer {
  display: block;
  height: 50px;
}

.social {
  margin-top: 15px;
}

.button-container {
  display: inline-block;
  margin-right: 5px;
}

h1 {
  display: block;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
}

ul {
  margin: 0;
}

#subtitle {
  display: block;
  margin: 0;
}

p {
  margin: 0;
}
