body {
  background: #111;
  color: #070;
  font-family: monospace;
  font-size: 14pt; 
  margin: 0;
  padding: 0;
}

#container {
  margin: 0px auto;
  width: 800px;
}

#header {
  display: block;
  float: left;
  margin: 0;
}

#high-score {
  display: block;
  float: right;
  height: 100px;
  width: 200px;
  margin: 0;
  text-align: center;
  background: #040;
  color: #FF0;

}

h1#title {
  display: block;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

#subtitle {
  display: block;
  margin: 0;
}

.game-intro {
  display: block;
  margin: 0;
}

#canvas {
  width: 800px;
  height: 600px;
}
